.uppercase {
    text-transform: uppercase;
}

.hidden {
    display: none;
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    cursor: pointer;
    &:hover {
        background-color: aliceblue;
    }
}
