@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&family=Space+Mono&display=swap');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.wordle-font {
  font-family: 'Source Code Pro', monospace;
}

// Also update the one in component/keyboard/keyboard.module.scss
$common: #636e72;
$green: #00b894;
$yellow: #fdcb6e;

.letter {
  color: #fff;
  background-color: $common;
  border-color: $common !important;
}

.green {
  background-color: $green !important;
  border-color: $green !important;
  color: #fff;
}

.yellow {
  color: black;
  background-color: $yellow !important;
  border-color: $yellow !important;
}

.example-letter {
  display: inline-block;
  padding: .5rem;
  border: 1px solid black;
  margin-right: .3rem;
  border-radius: .3rem;
}
